<div id="<%= dom_id writing_exercise %>">
  <h2 class="text-lg font-bold"><%= writing_exercise.prompt %></h2>
  <p>
    <strong>Created:</strong>
    <%= writing_exercise.created_at.strftime("%b %d %Y") %>
  </p>

  <p>
    <strong>Duration in minutes:</strong>
    <%= writing_exercise.duration_in_minutes %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= writing_exercise.category %>
  </p>

  <p>
    <strong>Output:</strong>
    <%= writing_exercise.output %>
  </p>
</div>
