<p style="color: green"><%= notice %></p>

<%= render @writing_exercise %>

<div>
  <%= link_to "Edit this writing exercise", edit_writing_exercise_path(@writing_exercise) %> |
  <%= link_to "Back to writing exercises", writing_exercises_path %>

  <%= button_to "Destroy this writing exercise", @writing_exercise, method: :delete %>
</div>
